---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Keyword Strategy & Research",
    description:
      "Embark on a cosmic quest to uncover the most impactful keywords. We offer in-depth research and strategic planning to ensure your content resonates with your audience and shines brightly in search engine results.",
    icon: "mdi:handshake",
  },
  {
    title: "Search Engine Optimization",
    description:
      "Optimize your digital presence for a journey through the SEO universe. We provide comprehensive strategies that enhance your visibility, ensuring your website navigates smoothly through the ever-evolving landscape of search engine algorithms.",
    icon: "mdi:feather",
  },
  {
    title: "Pay Per Click Marketing",
    description:
      "Launch a targeted Pay Per Click campaign that propels your brand to new heights. Our expert team crafts and manages precision-focused PPC strategies, ensuring maximum visibility and optimal conversion in the digital cosmos.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Conversion Rate Optimization",
    description:
      "Elevate your site's gravitational pull with Conversion Rate Optimization. We meticulously analyze and refine your digital touchpoints, ensuring they attract and convert visitors more effectively.",
    icon: "mdi:graph",
  },
  {
    title: "Website and SEO Auditing",
    description:
      "Discover key insights with our Website Auditing service. We thoroughly review your site to identify improvements and optimize performance, guiding your online journey.",
    icon: "mdi:search-web",
  },
  {
    title: "Local Marketing & Advertising",
    description:
      "Enhance your local presence and target those around you. We focus on elevating your visibility in community-based searches, connecting you effectively with local audiences.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Boost your revenue" id="features">
  <Fragment slot="lead">
    Let us <span class="text-primary">propel</span> your revenue to new heights. Our SEO strategy is <span class="text-primary">out-of-this-world</span>, utilizing advanced tools and our exclusive <span class="text-primary">space-age solutions</span>.

  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
