---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---
<ContentSection title="Launch your reach" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    We are a new kind of SEO company built for the
    <span class="text-primary">modern</span> web. Experience
    <span class="text-primary">lightning-fast</span>
    results and <span class="text-primary">powerful</span> analytics designed to increase leads and revenue.
  </Fragment>
  <div class="flex justify-center">
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Launch my leads</span>
    </a>
  </div>
</ContentSection>
